html {
    padding: 0;
    margin: 0;
}

div {
    color: black;
}
p {
    margin: 0;
}

.hidden {
    display: none;
}

:root {
    --selectedcolor: #47bbed;
    --height: 25%;
    --width: 33.3%;
}

.row {
    height: var(--height);
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    box-sizing: border-box;  
}

.initial-options {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-chunk {
    width: 20px;
    height: 20px;
}

.box {
    border: 2px solid black;
    width: 95vh;
    height: 95vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section {
    width: var(--width);
    height: 100%;
    border-left: 1px solid;  

    box-sizing: border-box;    
}

.horizontal {
    display: flex;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.selected{
    background:var(--selectedcolor);
}

.highlight {
    color: black;
    background: white;
    font-size: 20px;
   text-align: center;
}
.center {
    justify-content: space-evenly;
}

#all-colors {
    max-height: 40vh;
    overflow-y: scroll;
}
