html {
    padding: 0;
    margin: 0;
}

div {
    color: black;
}

:root {
    --selectedcolor: blue;
}

.box {
    border: 2px solid black;
    width: 50vw;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section {
    width: 33.3%;
    height: 25%;
    border: 1px dotted;
    border-bottom: none;
    border-right: none;
    box-sizing: border-box;    
}

.horizontal {
    display: flex;
}

.selected{
    background:var(--selectedcolor);
}

.highlight {
    color: black;
    background: white;
}
