html {
    padding: 0;
    margin: 0;
}

div {
    color: black;
}

.hidden {
    display: none;
}

:root {
    --selectedcolor: #47bbed;
    --height: 25%;
    --width: 33.3%;
}

.row {
    height: var(--height);
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px dotted black;
}

.box {
    border: 2px solid black;
    width: 60vw;
    height: 75vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section {
    width: var(--width);
    height: 100%;
    border: 1px dotted;  
    box-sizing: border-box;    
}

.horizontal {
    display: flex;
}

.selected{
    background:var(--selectedcolor);
}

.highlight {
    color: black;
    background: white;
}
